body{
    background: radial-gradient(circle at center, #fefcea, #6eb8fd67);
}

button{
    border:none;
    border-radius: 12px;
}

button:hover{
    color: #03396C !important; 
    border: none;
}
.form-check-input,.form-check-label{
    cursor: pointer;
    }
.titre{
    color: #03396C;
}
